# Node
node_modules/
dist/
build/

# Python Virtual Environment
venv/
env/

# Environment Variables
.env

# Large Data Files
data/*.bin
data/*.parquet
data/*.pt
*.safetensors

# Python Cache
__pycache__/
*.pyc

# Logs
*.log

# Flutter
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# Android
/android/app/build/
/android/.gradle/
**/build/
*.apk
*.aab

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

.DS_Store
**/ .DS_Store
# Data
sahaayak_backend/data/*
